.img-1 {
	width: 100%;
	height: 662px;
}
section {
	position: relative;
}
.logo {
	font-size: 14px;
	font-family: 'Poppins-SemiBold';
	position: absolute;
	top: 20px;
	left: 139px;
	color: #FFFFFF;
}
.navbar-ul {
	position: absolute;
	top: 21px;
}
.navbar-li {
	display: inline-block;		
}
ul a {
	position: absolute;
    color: #FFFFFF;
    font-family: 'Poppins-Medium';
    font-size: 12px;
}
.main {
	left: 665px;
}
.rooms {
	left: 749px;
}
.rest {
	left: 854px;
}
.about {
	left: 978px;
}
.blog {
	left: 1087px;
}
.cont {
	left: 1169px; 
}
.title-1 {
	position: absolute;
	left: 139px;
	top: 209px;
	width: 576px;
	height: 160px;
	font-size: 62px;
	font-family: 'Poppins-ExtraBold';
	color: #FFFFFF;
	display: inline-block;
}
.par-1 {
	position: absolute;
	left: 139px;
	top: 389px;
	font-size: 14px;
	font-family: 'Poppins-Regular';
	width: 352px;
	height: 64px;
	color: #FFFFFF;
	display: inline-block;
}
.sticky {
	position: absolute;
	left: 139px;
	top: 572px;
	font-size: 20px;
	font-family: 'Poppins-Bold';
	width: 122px;
	height: 28px;
	color: #FFFFFF;
	display: inline-block;
}
.box-white, .box-blue {
	position: absolute;
	top: 537px;
	width: 51px;
	height: 51px;
	display: inline-block;
}
.box-white {
	left: 1125px;
	background-color: #FFFFFF;	
}
.arrow-left, .arrow-right {
	width: 14px;
	height: 14px;
	bottom: 92px;
	margin: 18px;
}
.arrow-left {
	right: 208px;
}
.box-blue {
	left: 1176px;
	background-color: #5863F8;
}
.arrow-right {
	right: 157px;
}
.title-2 {
	font-size: 42px;
	font-family: 'Poppins-ExtraBold';
	width: 374px;
	height: 115px;
	margin-top: 70px;
    margin-left: 126px;
    display: inline-block;
}
.par-2 {
	font-size: 16px;
	font-family: 'Poppins-Medium';
	color: #000000;
	margin-top: 14px;
	margin-left: 126px;
	width: 444px;
	height: 78px;
}
.par-3 {
	font-size: 14px;
	font-family: 'Poppins-Regular';
	color: #000000;
	margin-top: 14px;
	margin-left: 126px;
	width: 444px;
	height: 84px;
}
.read-more {
	background-color: #5863F8;
	width: 184px;
	height: 50px;
	margin-left: 136px;
	margin-top: 36px;
}
.more-text {
	font-family: 'Poppins-Regular';
	font-size: 14px;
	color: white;
	margin-left: 45px;
	margin-top: 15px;	
}
.arrow {
    width: 10.41px;
    height: 10.81px;
    margin-top: 19.6px;
    margin-left: 10px;  
}
.text-side {
	display: inline-block;
	vertical-align: top;
}
.text {
	display: inline-block;
	vertical-align: top;
}
.image-side {
	width: 536px;
	height: 461px;
	left: 691px;
	margin: 70px 139px 64px 121px;
	display: inline-block;
	vertical-align: top;
}
.stairs, .pool {
	width: 260px;
	height: 185px;  
}
.stairs {
	margin-left: 0;
}
.pool {
	margin-left: 10px;
}
.cafe {
	width: 536px;
	height: 260px;
	margin-top: 16px;
}
.footer {
	width: 100%;
	height: 304px;
	background-color: #121212;
}
.info {
	width: 828px;
	height: 191px;
	padding-top: 50px;
	padding-left: 139px;
}
.title-3 {
	font-family: 'Poppins-Bold';
	font-size: 24px;
	color: #FFFFFF;
}
.par-4 {
	font-family: 'Poppins-Medium';
	font-size: 14px;
	margin-top: 20px;
	color: #B1B1B1;
	width: 828px;
	height: 83px;
}
.facebook, .twitter, .google{
	width: 35px;
	height: 35px;
	margin-top: 20px;
}
.twitter, .google {
	margin-left: 21.5px;
}
.copyright {
	width: 559px;
	height: 20px;
	margin-left: 139px;
	margin-top: 64px;	
}
.par-5 {
	font-family: 'Poppins-Medium';
	font-size: 14px;
	color: #B1B1B1; 
}