.img-1 {
	width: 1366px;
	height: 662px;
}
section {
	position: relative;
}
.logo {
	font-size: 14px;
	font-family: 'Poppins-SemiBold';
	position: absolute;
	top: 20px;
	left: 139px;
	color: #FFFFFF;
}
.navbar-ul {
	position: absolute;
	top: 21px;
}
.navbar-li {
	display: inline-block;		
}
ul a {
	position: absolute;
    color: #FFFFFF;
    font-family: 'Poppins-Medium';
    font-size: 12px;
}
.main {
	left: 665px;
}
.rooms {
	left: 749px;
}
.rest {
	left: 854px;
}
.about {
	left: 978px;
}
.blog {
	left: 1087px;
}
.cont {
	left: 1169px; 
}
h1 {
	position: absolute;
	left: 139px;
	top: 209px;
	width: 576px;
	height: 160px;
	font-size: 62px;
	font-family: 'Poppins-ExtraBold';
	color: #FFFFFF;
	display: inline-block;
}
.par-1 {
	position: absolute;
	left: 139px;
	top: 389px;
	font-size: 14px;
	font-family: 'Poppins-Regular';
	width: 352px;
	height: 64px;
	color: #FFFFFF;
	display: inline-block;
}
.sticky {
	position: absolute;
	left: 139px;
	top: 572px;
	font-size: 20px;
	font-family: 'Poppins-Bold';
	width: 122px;
	height: 28px;
	color: #FFFFFF;
	display: inline-block;
}
.box-white, .box-blue {
	position: absolute;
	top: 537px;
	width: 51px;
	height: 51px;
	display: inline-block;
}
.box-white {
	left: 1125px;
	background-color: #FFFFFF;	
}
.arrow-left, .arrow-right {
	width: 14px;
	height: 14px;
	bottom: 92px;
	margin: 18px;
}
.arrow-left {
	right: 208px;
}
.box-blue {
	left: 1176px;
	background-color: #5863F8;
}
.arrow-right {
	right: 157px;
}
